{% extends 'chevBoxBundle:Centre:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
    <li><a href="{{ path('centre')}}">Index</a></li>
    <li><a href="{{ path('centre_edit')}}">edit</a></li>
{% endblock %}
{% block body %}
<h2>Centre edit</h2>

<form action="{{ path('centre_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('centre') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('centre_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
