{% extends 'chevBoxBundle:Centre:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('centre')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Listes des centres</h2>
{% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-success pull-right" href="{{ path('centre_new') }}">Ajouter</a>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
        	<th>Id</th>
        	<th>Libelle</th>
        	<th>Gerant</th>
        	<th>Adresse</th>
        	<th>Date</th>
        	<th>Actions</th>
        </tr>
	</thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td><a href="{{ path('centre_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        	<td>{{ entity.nom }}</td>
        	<td>{{ entity.gerant }}</td>
        	<td>
        		<p>{{ entity.adresse }}</p>
				<p>{{ entity.codePostal }}</p>
            	<p>{{ entity.ville }}</p></td>
        	<td>
        		<p>Date d'ajout : {% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif %}</p>
            	<p>Date de création : {% if entity.dateAjout %}{{ entity.dateAjout|date('d/m/Y') }}{% endif %}</p>
            </td>
            <td>
                <a href="{{ path('centre_show', { 'id': entity.id }) }}" class="btn">
                	Voir
                </a>
                {% if is_granted('ROLE_GERANT') %}
               		{% if entity.gerant == app.user or is_granted('ROLE_ADMIN') %}
						<a href="{{ path('centre_edit', { 'id': entity.id }) }}" class="btn btn-primary">
							Modifier
						</a>
					{% endif %}
    			{% endif %}
            </td>
 		</tr>
 	{% else %}
 		<tr>
 			<td colspan="6">
 				Il n'y a aucun centre existant.
 			</td>
 		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
