{% extends 'chevBoxBundle:Centre:layout.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('centre')}}">Index</a></li>
{% endblock %}
{% block body %}
<h2>Liste des centres</h2>

<div class="page-controls">
    Zone pour "trier par" et page 1, 2 etc si besion
</div>
<ul class="item-list">
{% for entity in entities %}
    <li class="list-centre">
        <div class="block-list">
            <a href="{{ path('centre_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
        </div>
        <div class="block-list">
            <p>
                <a href="{{ path('centre_show', { 'id': entity.id }) }}">{{ entity.nom }}</a>
            </p>
            <p>
                Gerant : <a href="#">{{ entity.gerant }}</a>
            </p>
        </div>
        <div  class="block-list address">
            <p>{{ entity.adresse }}</p>
            <p>{{ entity.codePostal }}</p>
            <p>{{ entity.ville }}</p>
        </div>
        <div  class="block-list date">
            <p>Date d'ajout : {% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</p>
            <p>Date de création : {% if entity.dateAjout %}{{ entity.dateAjout|date('Y-m-d H:i:s') }}{% endif %}</p>
        </div>
        <div  class="block-list action">
            <p><a href="{{ path('centre_show', { 'id': entity.id }) }}">show</a></p>
            <p><a href="{{ path('centre_edit', { 'id': entity.id }) }}">edit</a></p>
        </div>
    </li>
{% endfor %}
</ul>
<a class="lien-new" href="{{ path('centre_new') }}">
    Create a new entry
</a>
{% endblock %}
