{% extends 'chevBoxBundle:Centre:layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('centre_new')}}">Nouveau</a>
</li>
{% endblock %}
{% block body %}

<div class="container">
	<div class="title">
		<img class="titleIcon" alt="" src="{{ asset('/images/list.png') }}">
		<h6>Création d'un centre</h6>
	</div>
	<form action="{{ path('centre_create') }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
		    {{ form_widget(form) }}
		    <div class="form-bouton">
		    	<a class="bouton basic" href="{{ path('centre') }}">Retour à la liste</a>
				<input type="submit" value="Nouveau" class="bouton greenB">
			</div>
		</fieldset>
	</form>
</div>


{% endblock %}
