{% spaceless %}
<p class="navbar-text pull-right cab-login">
	{% if is_granted('ROLE_USER') %}
	<a class="btn btn-primary" href="{{ path('fos_user_security_logout')}}">Déconnexion</a>
	{% else %}
	<a class="btn btn-primary" href="{{ path('fos_user_security_login')}}">Connexion</a>
	{% endif %}
</p>
<ul class="nav">
	<li><a href="{{ path('front_homepage') }}">Accueil</a></li>
	<li><a href="{{ path('centre') }}">Centre</a></li>
	{% if is_granted('ROLE_USER') %}
	<li><a href="{{ path('cheval') }}">Cheval</a></li>
	<li><a href="{{ path('facture')}}">Facture</a></li>
	{% endif %}
	{% if is_granted('ROLE_GERANT') %}
	<li><a href="{{ path('s4admin_user') }}">Administration</a></li>
	{% endif %}
</ul>
{% endspaceless %}