{% extends 'chevBoxBundle:Centre:layout.html.twig' %}
{% block title %}Modifier - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li class="current">
     <a href="{{ path('centre_box_edit', { 'id': entity.id }) }}">Modifier</a>
</li>
{% endblock %}
{% block body %}
<div class="menu">
	<a href="{{ path('centre_box') }}">
		<img style="float right" src="{{ asset('images/annuler_32x32.png') }}">
	</a>
	<a href="{{ path('centre_box_show', { 'id': entity.id }) }}">
		<img style="float right" src="{{ asset('images/voir_32x32.png') }}">
	</a>
    <form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('centre_box_delete', { 'id': entity.id }) }}" method="post" class="delete image form">
        {{ form_widget(delete_form) }}
        <input type="image" src="{{ asset('images/supprimer_32x32.png') }}" style="float right" />
    </form>
</div>
<form action="{{ path('centre_box_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<fieldset>
        <h2>Modifier ce box</h2>
       {{ form_rest(edit_form) }}
		<input class="float right" type="submit" value="Modifier">
	</fieldset>
</form>
{% endblock %}
