{% extends 'chevBoxBundle:Box:layout.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('centre_box')}}">Index</a></li>
{% endblock %}
{% block body %}
<h2>Gestion des Boxes</h2>

<a class="new-item" href="{{ path('centre_box_new') }}">+</a>

<table cellpadding="0" cellspacing="0" width="100%" class="clear">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cheval</th>
            <th>Type de box</th>
            <th>Date</th>
            <th>Date d'ajout</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="id-td"><a href="{{ path('centre_box_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.cheval %}{{ entity.cheval.nom }}{% else %}Pas de cheval{% endif %}</td>
            <td>{{ entity.type.libelle }}</td>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.dateAjout %}{{ entity.dateAjout|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <a title="Voir" class="show-item" href="{{ path('centre_box_show', { 'id': entity.id }) }}">show</a>
    			<a title="Modifier" class="modif-item" href="{{ path('centre_box_edit', { 'id': entity.id }) }}">Modifier</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
