{% extends 'chevBoxBundle:Box:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('centre_box')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des Boxes</h2>
<a class="btn btn-success pull-right" href="{{ path('centre_box_new') }}">Ajouter</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cheval</th>
            <th>Type de box</th>
            <th>Date d'ajout</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('centre_box_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.cheval %}{{ entity.cheval.nom }}{% else %}Pas de cheval{% endif %}</td>
            <td>{{ entity.type.libelle }}</td>
            <td>{% if entity.dateAjout %}{{ entity.dateAjout|date('d/m/Y') }}{% endif %}</td>
            <td>
                <a href="{{ path('centre_box_show', { 'id': entity.id }) }}" class="btn" title="Voir">
                	Voir
                </a>
    			<a href="{{ path('centre_box_edit', { 'id': entity.id }) }}" class="btn btn-primary" title="Modifier">
    				Modifier
    			</a>
            </td>
        </tr>
 	{% else %}
 		<tr>
 			<td colspan="5">
 				Il n'y a aucun box existant.
 			</td>
 		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
