{% extends 'chevBoxBundle:Box:layout.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li>
    	<a href="{{ path('centre_box_edit', {id: entity.id})}}">Aperçu</a>
    </li>
{% endblock %}
{% block body %}
<h2>Voir le box</h2>
<div class="span6">
	<table class="table table-hover">
	    <tbody>
	        <tr>
	            <th>Id</th>
	            <td>{{ entity.id }}</td>
	        </tr>
	        <tr>
	            <th>Cheval</th>
	            <td>{% if entity.cheval %}{{ entity.cheval.nom }}{% else %}Pas de cheval{% endif %}</td>
	        </tr>
	        <tr>
	            <th>Type de box</th>
	            <td>{{ entity.type.libelle }}</td>
	        </tr>
	        <tr>
	            <th>Date d'ajout</th>
	            <td>{{ entity.dateAjout|date('d/m/Y') }}</td>
	        </tr>
	    </tbody>
	</table>
	<div class="row-fluid">
		<div class="span6">
			<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('centre_box_delete', { 'id': entity.id }) }}" method="post">
	        	{{ form_widget(delete_form) }}
	        	<button type="submit" class="btn btn-danger">Supprimer</button>
    		</form>
		</div>
		<div class="span6 pagination-right">
			<a href="{{ path('centre_box') }}" class="btn">Retour à la liste</a>
			<a href="{{ path('centre_box_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editer</a>
		</div>
	</div>
</div>
{% endblock %}