{% extends 'chevChevalBundle:Equipement:layout.html.twig' %}
{% block title %}Modifier - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
    <a href="{{ path('equipement_edit', { 'id': entity.id }) }}">Modifier</a>
</li>
{% endblock %}
{% block body %}
<h2>Modifier cette équipement</h2>
<div class="span6">
	<form action="{{ path('equipement_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		<fieldset>
	       	{{ form_rest(edit_form) }}
	       	<input type="submit" value="Modifier" class="btn btn-success pull-right">
		</fieldset>
	</form>
	<div class="row-fluid">
		<div class="span6">
			<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('equipement_delete', { 'id': entity.id }) }}" method="post">
	        	{{ form_widget(delete_form) }}
	        	<button type="submit" class="btn btn-danger">Supprimer</button>
	    	</form>
		</div>
		<div class="span6 pagination-right">
			<a href="{{ path('equipement') }}" class="btn">Retour à la liste</a>
			<a href="{{ path('equipement_show', { 'id': entity.id }) }}" class="btn btn-primary">Voir</a>
		</div>
	</div>
</div>
{% endblock %}
