{% extends 'chevChevalBundle:Equipement:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('equipement')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des équipements</h2>
{% if is_granted('ROLE_GERANT') %}
<a class="btn btn-success pull-right" href="{{ path('equipement_new') }}">Ajouter</a>
{% endif %}
<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Libelle</th>
	            <th>Propriétaire</th>
	            <th>Centre</th>
	            <th>Date d'ajout</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('equipement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.libelle }}</td>
	            <td>{{ entity.proprietaire }}</td>
	            <td>{{ entity.centre }}</td>
	            <td>{% if entity.dateAjout %}{{ entity.dateAjout|date('d/m/Y') }}{% endif %}</td>
	            <td>
                <a href="{{ path('equipement_show', { 'id': entity.id }) }}" class="btn">
                	Voir
                </a>
                {% if is_granted('ROLE_GERANT') %}
    			<a href="{{ path('equipement_edit', { 'id': entity.id }) }}" class="btn btn-primary">
    				Modifier
    			</a>
    			{% endif %}
	        </tr>
	 	{% else %}
	 		<tr>
	 			<td colspan="6">
	 				Il n'y a aucun équipement existant.
	 			</td>
	 		</tr>
	    {% endfor %}
	    </tbody>
	</table>
{% endblock %}