<div class="fos_user_user_show">
	<h2>{{ user.prenom }} {{ user.nom }}</h2>
	<h3>Informations personnelles</h3>
	<table>
		<tbody>
			<tr>
				<th>Sexe</th>
				<td>{% if user.sexe %}Homme{% else %}Femme{% endif %}</td>
			</tr>
			<tr>
				<th>Date de naissance</th>
				<td>{{ user.age|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<th>Adresse postale</th>
				<td>{{ user.prenom }} {{ user.nom }}<br />{{ user.adresse }}<br />{{ user.codepostal }} {{ user.ville }}</td>
			</tr>
			<tr>
				<th>Numéro de téléphone</th>
				<td>{{ user.telephone }}</td>
			</tr>
			<tr>
				<th>J'accepte d'être contacté par téléphone</th>
				<td>
					{% if user.contactable == 1 %}
						<span class="true">Oui</span>
					{% else %}
						<span class="false">Non</span>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
 	<h3>Informations numériques</h3>
	<table>
		<tbody>
			<tr>
				<th>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Pseudonyme skype</th>
				<td>
					{% if user.skype is empty %}
					<strong>Attention, aucun pseudonyme skype n'est enregistré, vous ne pourrez prendre de rendez-vous de e-coaching webcam sans ce logiciel tier !</strong>
					{% else %}
					{{ user.skype}}
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br />
<a class="button" href="{{ path('fos_user_profile_edit') }}"><button>Modifier</button></a> <a class="button" href="{{ path('fos_user_change_password') }}"><button>Modifier le mot de passe</button></a>
