{% extends 'chevPensionBundle:TypePaiement:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('paiement_type')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des types de paiement</h2>
<a class="btn btn-success pull-right" href="{{ path('paiement_type_new') }}">Ajouter</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('paiement_type_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.libelle }}</td>
            <td>
                <a href="{{ path('paiement_type_show', { 'id': entity.id }) }}" class="btn" title="Voir">
                	Voir
                </a>
    			<a href="{{ path('paiement_type_edit', { 'id': entity.id }) }}" class="btn btn-primary" title="Modifier">
    				Modifier
    			</a>
            </td>
        </tr>
 	{% else %}
 		<tr>
 			<td colspan="6">
 				Il n'y a aucun type de paiement existant.
 			</td>
 		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}