{% extends 'chevPensionBundle:TypePaiement:layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
    <a href="{{ path('paiement_type_new') }}">Nouveau</a>
</li>
{% endblock %}
{% block body %}

<h2>Nouveau mode de paiement</h2>

<form action="{{ path('paiement_type_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
    <ul class="form-menu float right">
		<li><a title="Retour à la liste" class="return-item" href="{{ path('paiement_type') }}">return</a></li>
		<li><button type="submit">Nouveau</button></li>
	</ul>
</form>
{% endblock %}