{% extends 'chevPensionBundle:Facture:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('facture')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des factures
{% if is_granted('ROLE_GERANT') %}
<a class="btn btn-success pull-right" href="{{ path('facture_new') }}">Ajouter</a>
{% endif %}</h2>
<div class="row-fluid">
	<div class="span4">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Total restant à payer : </th>
					<td>{{ montantRAP }} €</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Client</th>
            <th>Cheval</th>
            <th>Type de Logement</th>
            <th>Dates du bail</th>
            <th>Date d'ajout</th>
            <th>Restant à payer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('facture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.cheval.proprietaire }}</td>
            <td>{{ entity.cheval }}</td>
            <td>
            	{{ entity.typeLogement }}
           	</td>
            <td>
            	{% if entity.dateDebut %}<p>Date de debut : {{ entity.dateDebut|date('d/m/Y') }}</p>{% endif %}
            	{% if entity.dateFin %}<p>Date de fin : {{ entity.dateFin|date('d/m/Y') }}</p>{% endif %}
            </td>
            <td>{% if entity.dateFacture %}{{ entity.dateFacture|date('d/m/Y') }}{% endif %}</td>
            <td>{{ entity.RAP }} €</td>
            <td>
                <a href="{{ path('facture_show', { 'id': entity.id }) }}" class="btn" title="Voir">
                	Voir
                </a>
                {% if is_granted('ROLE_GERANT') %}
    			<a href="{{ path('facture_edit', { 'id': entity.id }) }}" class="btn btn-primary" title="Modifier">
    				Modifier
    			</a>
    			{% endif %}
            </td>
        </tr>
 	{% else %}
 		<tr>
 			<td colspan="8">
 				Il n'y a aucune facture existante.
 			</td>
 		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

