{% extends 'chevPensionBundle:Facture:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('facture')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des factures</h2>
{% if is_granted('ROLE_GERANT') %}
<a class="btn btn-success pull-right" href="{{ path('facture_new') }}">Ajouter</a>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Cheval</th>
            <th>Emplacement</th>
            <th>Date du bail</th>
            <th>Date d'ajout</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('facture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.utilisateur }}</td>
            <td>{{ entity.box.cheval }}</td>
            <td>
            	<p>Box : {{ entity.box }}</p>
            	<p>Centre : {{ entity.box.type.centre }}</p>
            	<p>Gérant : {{ entity.box.type.centre.gerant }}</p>
           	</td>
            <td>
            	{% if entity.dateDebut %}<p>Date de debut : {{ entity.dateDebut|date('d/m/Y') }}</p>{% endif %}
            	{% if entity.dateFin %}<p>Date de fin : {{ entity.dateFin|date('d/m/Y') }}</p>{% endif %}
            </td>
            <td>{% if entity.dateFacture %}{{ entity.dateFacture|date('d/m/Y') }}{% endif %}</td>
            <td>
                <a href="{{ path('facture_show', { 'id': entity.id }) }}" class="btn" title="Voir">
                	Voir
                </a>
                {% if is_granted('ROLE_GERANT') %}
    			<a href="{{ path('facture_edit', { 'id': entity.id }) }}" class="btn btn-primary" title="Modifier">
    				Modifier
    			</a>
    			{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

