{% extends 'chevPensionBundle:Facture:layout.html.twig' %}
{% block title %}Voir - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li class="current">
     <a href="{{ path('facture_show', {id: entity.id}) }}">Voir</a>
</li>
{% endblock %}
{% block body %}
<div class="menu">
	<a href="{{ path('facture') }}">
		<img style="float right" src="{{ asset('images/annuler_32x32.png') }}">
	</a>
</div>
<h2>Voir la facture</h2>

<table width="100%" cellspacing="0" cellpadding="0" class="clear">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Datedebut</th>
            <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datefin</th>
            <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datefacture</th>
            <td>{{ entity.dateFacture|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}