{% extends 'chevPensionBundle:Facture:layout.html.twig' %}
{% block title %}Voir - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
     <a href="{{ path('facture_show', {id: entity.id}) }}">Voir</a>
</li>
{% endblock %}
{% block body %}

<h2>Voir la facture</h2>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Datedebut</th>
            <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datefin</th>
            <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datefacture</th>
            <td>{{ entity.dateFacture|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="form-menu float right">
	<li><a title="Retour à la liste" class="return-item" href="{{ path('facture') }}">return</a></li>
    <li><a title="Modifier" class="modif-item" href="{{ path('facture_edit', { 'id': entity.id }) }}">Modifier</a></li>
    <li>
		<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('facture_delete', { 'id': entity.id }) }}" method="post">
        	{{ form_widget(delete_form) }}
        	<button type="submit" title="Supprimer" class="delete-item">+</button>
    	</form>
	</li>
</ul>
{% endblock %}