{% extends 'chevBoxBundle:Pature:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('pature')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des patûres</h2>
<a class="btn btn-success pull-right" href="{{ path('pature_new') }}">Ajouter</a>
<table class="table table-striped">
    <thead>
        <tr>
        	<th>Id</th>
        	<th>Libelle</th>
        	<th>Taille</th>
        	<th>Centre</th>
        	<th>Utilisé</th>
        	<th>Date d'ajout</th>
        	<th>Actions</th>
        </tr>
	</thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td class="id-td"><a href="{{ path('pature_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        	<td>{{ entity.libelle }}</td>
        	<td>{{ entity.taille }} hectare</td>
        	<td>{{ entity.centre }}</td>
		    <td>{% if entity.utilise %}oui{% else %}non{% endif %}</td>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
        	<td>
                <a href="{{ path('pature_show', { 'id': entity.id }) }}" class="btn" title="Voir">
                	Voir
                </a>
    			<a href="{{ path('pature_edit', { 'id': entity.id }) }}" class="btn btn-primary" title="Modifier">
    				Modifier
    			</a>
            </td>
 		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
