{% extends 'chevBoxBundle:Pature:layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('pature_new')}}">Nouveau</a>
</li>
{% endblock %}
{% block body %}

<h2>Création d'une patûre</h2>

<form action="{{ path('pature_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <ul class="form-menu float right">
		<li><a title="Retour à la liste" class="return-item" href="{{ path('pature') }}">Revenir à la liste</a></li>
		<li><button type="submit">Nouveau</button></li>
	</ul>
</form>
{% endblock %}
