{% extends 'chevBoxBundle:Pature:layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('pature_new')}}">Nouveau</a>
</li>
{% endblock %}
{% block body %}
<h2>Création d'une patûre</h2>
<div class="span6">
	<form action="{{ path('pature_create') }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
		    {{ form_widget(form) }}
		    <div class="pagination-right">
		    	<a class="btn" href="{{ path('pature') }}">Retour à la liste</a>
				<input class="btn btn-success" type="submit" value="Nouveau" >
		    </div>
		</fieldset>
	</form>
</div>
{% endblock %}
