{% extends 'chevBoxBundle:Pature:layout.html.twig' %}
{% block title %}Voir - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
    <a href="{{ path('pature_show', {id: entity.id}) }}">Aperçu</a>
</li>
{% endblock %}
{% block body %}

<div class="half-container">
	<div class="title">
		<img class="titleIcon" alt="" src="{{ asset('/images/preview.png') }}">
		<h6>Voir la patûre</h6>
	</div>
	<table class="record_properties">
	    <tbody>
	        <tr>
	            <th>Id</th>
	            <td>{{ entity.id }}</td>
	        </tr>
	        <tr>
	            <th>Nom</th>
	            <td>{{ entity.libelle }}</td>
	        </tr>
	        <tr>
	            <th>Taille</th>
	            <td>{{ entity.taille }} hectare(s)</td>
	        </tr>
	        <tr>
	            <th>Centre</th>
	            <td>{{ entity.centre }}</td>
	        </tr>
	        <tr>
	            <th>Utilisé</th>
	            <td>{% if entity.utilise %}oui{% else %}non{% endif %}</td>
	        </tr>
	        <tr>
	            <th>Date</th>
	            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
	        </tr>
	    </tbody>
	</table>
</div>
<div class="half-container-control">
	<a href="{{ path('pature') }}" class="bouton basic">Retour à la liste</a>
	<a href="{{ path('pature_edit', { 'id': entity.id }) }}" class="bouton brownB">Editer</a>
	<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('pature_delete', { 'id': entity.id }) }}" method="post">
        	{{ form_widget(delete_form) }}
        	<button type="submit" class="redB bouton">Supprimer</button>
    </form>
</div>
{% endblock %}
