<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Caballio{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets  
            				'css/style.css'
                            'css/bootstrap.green.css'
                            'css/bootstrap-responsive.css'
                            'css/jquery-ui-1.10.0.custom.min.css'
                            'css/jquery-ui-timepicker-addon.css'
                output='compiled/css/front.css'
                combine=true
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />
    </head>
    <body>
    	<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container-fluid">
    				<a class="brand" href="{{ path('front_homepage') }}">Caballio</a>
    				<div class="nav-collapse collapse">
    					<div class="ajaxOn pull-right" style="display: none;">
			                <label for="ajaxOn" class="btn btn-danger">AJAX</label>
			                <input type="checkbox" id="ajaxOn" name="ajaxOn" style="display: none;">
			            </div>
			            <nav id="top">
	    					{% block menuTop %}
			                	{% render url('_menuTop') %}
			            	{% endblock %}
		            	</nav>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="container-fluid">
    		<div class="row-fluid">
    			<div class="span3">
    				<div class="well sidebar-nav">
    					{% block menu %}
		                	{% render url('_menu') %}
		            	{% endblock %}
    				</div>
    			</div>
    			<div class="span9">
    				{% block hero %}
    				{% endblock %}
    				<div class="row-fluid">
    					<ul class="breadcrumb">
    					{% block breadcrumbs %}
    						<li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                        {% endblock %}
    					</ul>
    					{% block body %}{% endblock %}
    				</div>
    			</div>
    		</div>
    		<hr>
	        <footer>
	        	<p>&copy; PITP 2012 - 2013</p>
	        </footer>
    	</div>
        {% block javascripts %}
			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% javascripts 'js/jquery-1.9.1.min.js'
                           'js/jquery-ui-1.10.0.custom.min.js'
                           'js/jquery-ui-timepicker-addon.js'
                           'js/jquery-ui-timepicker-fr.js'
                           'js/ajax.js'
                           'js/datetimepicker.js'
                    output='compiled/js/front.js'
                    combine=true%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
