<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Poney{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets     
                            'css/reset.css'
                            'css/style.css'
                            
                output='css/front.css'
                combine=true
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <a href="{{ path('front_homepage') }}"><img id="header-logo" src="/images/logo.png"/></a>
            </div>
        </header>
        <nav id="top-nav">
            <ul>
                <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                {% if is_granted('ROLE_GERANT') %}
                <li class="menu-deroulant">
<<<<<<< HEAD
                	<a href="{{ path('centre') }}">Centres</a>
                	<ul class="sub-menu">
                		<li><a href="{{ path('centre') }}">Centres</a></li>
                		<li><a href="{{ path('pature') }}">Patûre</a></li>
                		<li><a href="{{ path('centre_box')}}">Box</a></li>
                		<ul class="sub-sub-menu">
                			<li><a href="{{ path('centre_typebox') }}">Types de box</a></li>
                		</ul>
                	</ul>
=======
                    <a href="{{ path('centre') }}">Centres</a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('centre') }}">Centres</a></li>
                        <li><a href="{{ path('centre_box')}}">Box</a></li>
                        <ul class="sub-sub-menu">
                            <li><a href="{{ path('centre_typebox') }}">Types de box</a></li>
                        </ul>
                    </ul>
>>>>>>> daa41ef682d35cdfbcf06b62193cfa06496c9619
                </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li class="menu-deroulant">
                    <a href="{{ path('cheval')}}">Chevaux</a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('cheval')}}">Chevaux</a></li>
                        <li><a href="{{ path('equipement')}}">Equipement</a></li>
                        {% if is_granted('ROLE_GERANT') %}
                        <li><a href="{{ path('cheval_race')}}">Race</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li class="menu-deroulant">
                    <a href="{{ path('facture') }}">Facture</a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('facture') }}">Facture</a></li>
                        {% if is_granted('ROLE_GERANT') %}
                        <li>
                            <a href="{{ path('paiement') }}">Paiement</a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <ul class="sub-sub-menu">
                                <li><a href="{{ path('paiement_type') }}">Types de paiement</a></li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li><a href="{{ path('s4admin_user') }}">Utilisateurs</a></li>
                <li><a href="#">contacts</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                {% else %}
                       <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
        <section>
            <div class="page-info">
                <div class="container">
                    <h1 class="page-title">Poney</h1>
                    <div id="breadcrumbs">
                        <ul>
                            {% block breadcrumbs %}
                                <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-container">
                <div class="container">
                    {% block body %}{% endblock %}
               </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="copyright">
                    <p>&copy; PITP 2012 - {{ "now"|date('Y') }}</p>
                </div>
                <div class="ajaxOn">
                    <label for="ajaxOn" selected="selected">Activer AJAX</label>
                    <input type="checkbox" name="ajaxOn" id="ajaxOn" />
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts 'js/jquery-1.9.0.min.js'
                           'js/jquery-ui-1.10.0.custom.min.js'
                           'js/ajax.js' 
                    output='js/front.js'
                    combine=true%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
