<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Caballio{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets     
                            'css/reset.css'
                            'css/style.css'
                            'css/jquery-ui-1.10.0.custom.min.css'
                            'css/jquery-ui-timepicker-addon.css'
                output='compiled/css/front.css'
                combine=true
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <a href="{{ path('front_homepage') }}"><img id="header-logo" src="/images/logo.png"/></a>
            </div>
        </header>
        <nav id="top-nav">
			{% render url('_menu') %}
        </nav>
        <section>
            <div class="page-info">
                <div class="container">
                    <h1 class="page-title">Caballio</h1>
                    <div id="breadcrumbs">
                        <ul>
                            {% block breadcrumbs %}
                                <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-container">
                <div class="container">
                    {% block body %}{% endblock %}
               </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="copyright">
                    <p>&copy; PITP 2012 - {{ "now"|date('Y') }}</p>
                </div>
                <div class="ajaxOn">
                    <label for="ajaxOn" selected="selected">Activer AJAX</label>
                    <input type="checkbox" name="ajaxOn" id="ajaxOn" />
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts 'js/jquery-1.9.0.min.js'
                           'js/jquery-ui-1.10.0.custom.min.js'
                           'js/jquery-ui-timepicker-addon.js'
                           'js/jquery-ui-timepicker-fr.js'
                           'js/ajax.js'
                           'js/datetimepicker.js'
                    output='compiled/js/front.js'
                    combine=true%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
