<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Caballio{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets     
                            'css/reset.css'
                            'css/style.css'
                            'css/jquery-ui-1.10.0.custom.min.css'
                            'css/jquery-ui-timepicker-addon.css'
                output='compiled/css/front.css'
                combine=true
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div id="logo">
    			<a href="{{ path('front_homepage') }}">
					<img alt="" src="{{ asset('/images/logo.png') }}" width="160">
				</a>
    		</div>
    		<div class="sidebarSep"></div>
    		<div id="profile">
    			<p>Bonjour, <a>username*</a></p>
    			<ul>
    				<li>
    					<a href="#">
    						<img src="{{ asset('/images/bouton/user.png') }}" />
    						<span>Profile</span>
    					</a>
    				</li>
    				<li>
    					{% if is_granted('ROLE_USER') %}
    					<a href="{{ path('fos_user_security_logout') }}">
    						<img src="{{ asset('/images/bouton/arrowLeft.png') }}" />
    						<span>Logout</span>
    					</a>
				        {% else %}
				        <a href="{{ path('fos_user_security_login') }}">
    						<img src="{{ asset('/images/bouton/arrowLeft.png') }}" />
    						<span>Login</span>
    					</a>
				        {% endif %}
    				</li>
    			</ul>
    		</div>
    		<div class="sidebarSep"></div>
    		<nav>
	            {% block menu %}
	                {% render url('_menu') %}
	            {% endblock %}
	        </nav>
        </header>
        <section>
        	<div class="page-titre">
				<div class="titre">
	                <h1>Caballio</h1>
	                <span>Le Poney Manager par excellence.</span>
	            </div>
    		</div>
    		<div class="line"></div>
            <div class="page-info">
    			<div>
                    <h5>
	    				Acceuil
	    			</h5>
                    <ul class="breadcrumbs">
                            {% block breadcrumbs %}
                                <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                            {% endblock %}
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div id="main-container">
                    {% block body %}{% endblock %}
            </div>
            <div class="line" style="margin-top: 50px;"></div>
        </section>
        <footer>
            <div class="footer-container">
                <div class="copyright">
                    <p>&copy; PITP 2012 - 2013</p>
                </div>
                <div class="ajaxOn" style="display: block;">
                    <label selected="selected" for="ajaxOn">Activer AJAX</label>
                    <input type="checkbox" id="ajaxOn" name="ajaxOn">
                </div>
            </div>
        </footer>
        {% block javascripts %}
			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% javascripts 'js/jquery-1.9.0.min.js'
                           'js/jquery-ui-1.10.0.custom.min.js'
                           'js/jquery-ui-timepicker-addon.js'
                           'js/jquery-ui-timepicker-fr.js'
                           'js/ajax.js'
                           'js/datetimepicker.js'
                    output='compiled/js/front.js'
                    combine=true%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
			<script type="text/javascript">
				$(document).ready( function () {
				  	$("nav .sub-menu .sub-ul").hide();
				  	$("nav .sub-menu > a").click( function () {
			        	if ($(this).next("nav .sub-menu .sub-ul:visible").length != 0) {
			            	$(this).next("nav .sub-menu .sub-ul").slideUp("normal");
			        	}
			        	else {
			            	$("nav .sub-menu .sub-ul").slideUp("normal");
			            	$(this).next("nav .sub-menu .sub-ul").slideDown("normal");
			        	}
			        	return false;
			    	});
				});
			</script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
