<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Poney{% endblock %}</title>
        {% block stylesheets %}
	        {% stylesheets 	
	        				'css/reset.css'
	        				'css/style.css'
	        				
				output='css/front.css'
				combine=true
			%}
			    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
			{% endstylesheets %}
        {% endblock %}
		<!--[if lt IE 9]>
			<script src="{{ asset('js/html5shiv.js') }}"></script>
		<![endif]-->
        <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <div id="search-container">
                    <form method="post" action="" accept-charset="UTF-8">
                        <input type="text" value="" placeholder="Sur GooGoole ..." name="">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <a href="{{ path('front_homepage') }}"><img id="header-logo" src="/images/logo.png"/></a>
            </div>
        </header>
    	<nav id="top-nav">
            <ul>
                <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('centre') }}">Centres</a></li>
                <li><a href="{{ path('centre_box')}}">Box</a></li>
                <li><a href="#">muche</a></li>
                <li><a href="#">contact</a></li>
                <li id="login-container">
                    <form method="post" action="" accept-charset="UTF-8">
                        <input type="text" value="" placeholder="Login" name=""/>
                        <input type="text" value="" placeholder="Mot de passe" name=""/>
                        <button type="submit">Connexion</button>
                    </form>
                </li>
            </ul>
        </nav>
        <div class="page-info">
            <div class="container">
                <h1 class="page-title">Poney</h1>
	            <div id="breadcrumbs">
	                <ul>
	                    {% block breadcrumbs %}
	                        <li><a href="{{ path('front_homepage') }}">Poney</a></li>
	                    {% endblock %}
	                </ul>
	            </div>
            </div>
        </div>
    	<div id="main-container">
            <div class="container">
	    		{% block body %}{% endblock %}
    	   </div>
        </div>
		<div id="footer">
            <div class="container">
                <div class="copyright">
        			<p>
                        <span>
                            COPYRIGHT &copy; 2012 <a href="#">PITP</a>
                        </span>|
                        <span>
                            <a href="#">TERMS OF USAGE</a>
                        </span>|
                        <span>
                            <a href="#">SUPPORT/HELP</a>
                        </span>|
                        <span>
                            ICONS BY <a href="http://PITP.fr">PITP</a> + <a href="https://www.google.fr/imghp?hl=fr&tab=wi">Google Images</a>
                        </span>
                    </p>
        		</div>
            </div>
        </div>
	    {% block javascripts %}
	        {% javascripts 'js/jquery-1.8.1.min.js'
	        			   'js/frontoffice.js' 
	        		output='js/front.js'
					combine=true%}
	        	<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
	    {% endblock %}
    </body>
</html>
