<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Poney{% endblock %}</title>
        {% block stylesheets %}
	        {% stylesheets 	
	        				'css/reset.css'
	        				'css/style.css'
	        				
				output='css/front.css'
				combine=true
			%}
			    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
			{% endstylesheets %}
        {% endblock %}
		<!--[if lt IE 9]>
			<script src="{{ asset('js/html5shiv.js') }}"></script>
		<![endif]-->
        <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <a href="{{ path('front_homepage') }}"><img id="header-logo" src="/images/logo.png"/></a>
            </div>
        </header>
    	<nav id="top-nav">
            <ul>
                <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('s4admin_user') }}">Utilisateurs</a></li>
                <li><a href="{{ path('centre') }}">Centres</a></li>
                <li><a href="{{ path('centre_box')}}">Box</a></li>
                <li><a href="{{ path('centre_typebox') }}">Types de box</a></li>
                <li><a href="{{ path('cheval')}}">Chevaux</a></li>
                <li><a href="{{ path('cheval_vaccin')}}">Vaccins</a></li>
                <li><a href="{{ path('cheval_race')}}">Race</a></li>
                {#<li><a href="{ path('') }">Paiement</a></li>
                <li><a href="{ path('') }">Type paiement</a></li>#}
                <li><a href="#">contacts</a></li>
            </ul>
        </nav>
        <section>
            <div class="page-info">
                <div class="container">
                    <h1 class="page-title">Poney</h1>
                    <div id="breadcrumbs">
                        <ul>
                            {% block breadcrumbs %}
                                <li><a href="{{ path('front_homepage') }}">Poney</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-container">
                <div class="container">
                    {% block body %}{% endblock %}
               </div>
            </div>
        </section>
        <div id="footer">
            <div class="container">
                <div class="copyright">
                    <p>&copy; PITP {{ "now"|date('Y') }}</p>
                </div>
            	<div class="ajaxOn">
            		<label for="ajaxOn" selected="selected">Activer AJAX</label>
            		<input type="checkbox" name="ajaxOn" id="ajaxOn" />
            	</div>
            </div>
        </div>
	    {% block javascripts %}
	        {% javascripts 'js/jquery-1.8.3.min.js'
	        			   'js/ajax.js' 
	        		output='js/front.js'
					combine=true%}
	        	<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
	    {% endblock %}
    </body>
</html>
