{% extends 'chevChevalBundle:Race:layout.html.twig' %}
{% block title %}Modifier - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
     <a href="{{ path('cheval_race_edit', { 'id': entity.id }) }}">Modifier</a>
</li>
{% endblock %}
{% block body %}
<ul class="form-menu">
	<li><a title="Retour à la liste" class="return-item" href="{{ path('cheval_race') }}">return</a></li>
	<li><a title="Voir" class="show-item" href="{{ path('cheval_race_show', { 'id': entity.id }) }}">show</a></li>
	<li>
		<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('cheval_race_delete', { 'id': entity.id }) }}" method="post">
        	{{ form_widget(delete_form) }}
        	<button type="submit" title="Supprimer" class="delete-item">+</button>
    	</form>
	</li>
</ul>
<form action="{{ path('cheval_race_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<fieldset>
        <h2>Modifier une race</h2>
        {{ form_rest(edit_form) }}
		<input class="float right" title="Confirmer la modification" type="submit" value="Modifier">
	</fieldset>
</form>
{% endblock %}