{% extends 'chevChevalBundle:Race:layout.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('cheval_race')}}">Index</a></li>
{% endblock %}
{% block body %}
<h2>Gestion de races</h2>

<a class="new-item" href="{{ path('cheval_race_new') }}">+</a>

<table cellpadding="0" cellspacing="0" width="100%" class="clear">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td  class="id-td"><a href="{{ path('cheval_race_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.libelle }}</td>
            <td>
            	<a title="Edit" href="{{ path('cheval_race_edit', { 'id': entity.id }) }}">
            		<img alt="Edit" src="{{ asset('images/editer_32x32.png') }}">
            	</a>
            	<a title="Show" href="{{ path('cheval_race_show', { 'id': entity.id }) }}">
            		<img alt="Show" src="{{ asset('images/voir_32x32.png') }}">
            	</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}