{% extends 'chevChevalBundle:Race:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('cheval_race')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Gestion de races</h2>

<a class="new-item" href="{{ path('cheval_race_new') }}">+</a>

<table cellpadding="0" cellspacing="0" width="100%" class="clear">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Centre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td  class="id-td"><a href="{{ path('cheval_race_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.libelle }}</td>
            <td>{{ entity.centre }}</td>
            <td>
                <a title="Voir" class="show-item" href="{{ path('cheval_race_show', { 'id': entity.id }) }}">show</a>
    			<a title="Modifier" class="modif-item" href="{{ path('cheval_race_edit', { 'id': entity.id }) }}">Modifier</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}