{% extends 'chevChevalBundle:Race:layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
     <a href="{{ path('cheval_race_new') }}">Nouveau</a>
</li>
{% endblock %}
{% block body %}

<h2>Nouvelle race</h2>

<form action="{{ path('cheval_race_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <ul class="form-menu float right">
		<li><a title="Retour à la liste" class="return-item" href="{{ path('cheval_race') }}">return</a></li>
		<li><button type="submit">Nouveau</button></li>
	</ul>
</form>
{% endblock %}

