{% extends 'chevChevalBundle:Race:layout.html.twig' %}
{% block title %}Voir - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li class="current">
     <a href="{{ path('cheval_race_show', {id: entity.id}) }}">Voir</a>
</li>
{% endblock %}
{% block body %}
<div class="menu">
	<a href="{{ path('cheval_race') }}">
		<img style="float right" src="{{ asset('images/annuler_32x32.png') }}">
	</a>
	<a href="{{ path('cheval_race_edit', { 'id': entity.id }) }}">
		<img style="float right" src="{{ asset('images/editer_32x32.png') }}">
	</a>
    <form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('cheval_race_delete', { 'id': entity.id }) }}" method="post" class="delete image form">
        {{ form_widget(delete_form) }}
        <input type="image" src="{{ asset('images/supprimer_32x32.png') }}" style="float right" />
    </form>
</div>
<h2>Voir la race</h2>
<table width="100%" cellspacing="0" cellpadding="0" class="item-list clear">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ entity.libelle }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
