{% extends 'chevBoxBundle:TypeBox:layout.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('centre_typebox')}}">Index</a></li>
{% endblock %}
{% block body %}
<h2>Liste des types de boxes</h2>

<a class="new-item" href="{{ path('centre_typebox_new') }}">+</a>

<table cellpadding="0" cellspacing="0" width="100%" class="clear">
    <thead>
        <tr>
            <th>Id</th>
            <th>Libelle</th>
            <th>Volume</th>
            <th>Nombrechevaux</th>
            <th>Prix</th>
            <th>Dateajout</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="id-td"><a href="{{ path('centre_typebox_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.libelle }}</td>
            <td>{{ entity.volume }}</td>
            <td>{{ entity.nombreChevaux }}</td>
            <td>{{ entity.prix }}</td>
            <td>{% if entity.dateAjout %}{{ entity.dateAjout|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
				<a title="Edit" href="{{ path('centre_typebox_edit', { 'id': entity.id }) }}">
            		<img alt="Edit" src="{{ asset('images/editer_32x32.png') }}">
            	</a>
            	<a title="Show" href="{{ path('centre_typebox_show', { 'id': entity.id }) }}">
            		<img alt="Show" src="{{ asset('images/voir_32x32.png') }}">
            	</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('centre_typebox_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
