{% extends 'chevBoxBundle:TypeBox:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
    <a href="{{ path('centre_typebox')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste les types de box</h2>
<a class="btn btn-success pull-right" href="{{ path('centre_typebox_new') }}">Ajouter</a>
<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Libelle</th>
	            <th>Taille</th>
	            <th>Prix</th>
	            <th>Centre</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('centre_typebox_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.libelle }}</td>
	            <td>{{ entity.volume }} m²</td>
	            <td>{{ entity.prix }}€ / mois</td>
	            <td>{% if entity.centre %}{{ entity.centre }}{% endif %}</td>
	            <td>
	                <a href="{{ path('centre_typebox_show', { 'id': entity.id }) }}" class="btn">
	                	Voir
	                </a>
	    			<a href="{{ path('centre_typebox_edit', { 'id': entity.id }) }}" class="btn btn-primary">
	    				Modifier
	    			</a>
            	</td>
	        </tr>
	    {% endfor %}
	</tbody>
</table>
{% endblock %}
