{% extends 'chevBoxBundle:TypeBox:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
    <li><a href="{{ path('centre_typebox_new')}}">Nouveau</a></li>
{% endblock %}
{% block body %}
<h2>Création d'un type de box</h2>
<div class="span6">
	<form action="{{ path('centre_typebox_create') }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
		    {{ form_widget(form) }}
		    <div class="pagination-right">
		    	<a class="btn" href="{{ path('centre_typebox') }}">Retour à la liste</a>
				<input class="btn btn-success" type="submit" value="Nouveau" >
		    </div>
		</fieldset>
	</form>
</div>
{% endblock %}