{% extends 'chevChevalBundle:Nourriture:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('cheval_nourriture')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des aliments<a class="btn btn-success pull-right" href="{{ path('cheval_nourriture_new') }}">Ajouter</a></h2>
<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Nom</th>
	            <th>Centre</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('cheval_nourriture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.libelle }}</td>
	            <td>{{ entity.centre }}</td>
	            <td>
	                <a href="{{ path('cheval_nourriture_show', { 'id': entity.id }) }}" class="btn">
	                	Voir
	                </a>
	    			<a href="{{ path('cheval_nourriture_edit', { 'id': entity.id }) }}" class="btn btn-primary">
	    				Modifier
	    			</a>
            	</td>
	        </tr>
	 	{% else %}
	 		<tr>
	 			<td colspan="4">
	 				Il n'y a aucune nourriture existante.
	 			</td>
	 		</tr>
	    {% endfor %}
	    </tbody>
	</table>
{% endblock %}