{% extends 'chevChevalBundle:Cheval:layout.html.twig' %}
{% block title %}Modifier - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
    <a href="{{ path('cheval_edit', { 'id': entity.id }) }}">Modifier</a>
</li>
{% endblock %}
{% block body %}
<h2>Modifier un cheval</h2>
<div class="span10">
	<form class="form-horizontal" action="{{ path('cheval_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		<fieldset>
			{{ form_errors(edit_form) }}
			<div class="control-group">
				{{ form_label(edit_form.nom, 'Nom' , {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(edit_form.nom) }}
				</div>
			</div>
			<div class="control-group">
				{{ form_label(edit_form.sexe, 'Sexe' , {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(edit_form.sexe) }}
				</div>
			</div>
			<div class="control-group">
				{{ form_label(edit_form.nourriture, 'Aliment' , {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(edit_form.nourriture) }} | {{ form_widget(edit_form.quantite) }} Quantité (Kg/Jours)
				</div>
			</div>
			<div class="control-group">
				{{ form_label(edit_form.proprietaire, 'Propriétaire' , {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(edit_form.proprietaire) }}
				</div>
			</div>
			<div class="control-group">
				{{ form_label(edit_form.centre, 'Centre' , {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(edit_form.centre) }}
				</div>
			</div>
			<div class="control-group">
				{{ form_label(edit_form.description, 'Description' , {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(edit_form.description) }}
				</div>
			</div>
			{{ form_rest(edit_form) }}
			<input type="submit" value="Modifier" class="btn btn-success pull-right">
		</fieldset>
	</form>
	<div class="row-fluid">
		<div class="span6">
			<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('cheval_delete', { 'id': entity.id }) }}" method="post">
	        	{{ form_widget(delete_form) }}
	        	<button type="submit" class="btn btn-danger">Supprimer</button>
	    	</form>
		</div>
		<div class="span6 pagination-right">
			<a href="{{ path('cheval') }}" class="btn">Retour à la liste</a>
			<a href="{{ path('cheval_show', { 'id': entity.id }) }}" class="btn btn-primary">Voir</a>
		</div>
	</div>
</div>
{% endblock %}
