{% extends 'chevChevalBundle:Cheval:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('cheval')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des chevaux</h2>
{% if is_granted('ROLE_GERANT') %}
<a class="btn btn-success pull-right" href="{{ path('cheval_new') }}">Ajouter</a>
{% endif %}
<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Nom</th>
	            <th>Race</th>
	            <th>Propriétaire</th>
	            <th>Centre</th>
	            <th>Date</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('cheval_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.nom }}</td>
	            <td>{% if entity.race %}{{ entity.race.libelle }} {% else %}Pas de race{% endif %}</td>
	            <td>{{ entity.proprietaire }}</td>
	            <td>{% if entity.centre %}{{ entity.centre.nom }} {% else %}Pas de centre{% endif %}</td>
	            <td>{% if entity.date %}{{ entity.date|date('d/m/Y H:i:s') }}{% endif %}</td>
	            <td>
	                <a href="{{ path('cheval_show', { 'id': entity.id }) }}" class="btn">
	                	Voir
	                </a>
                {% if is_granted('ROLE_GERANT') %}
	    			<a href="{{ path('cheval_edit', { 'id': entity.id }) }}" class="btn btn-primary">
	    				Modifier
	    			</a>
    			{% endif %}
            	</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
</div>
{% endblock %}