{% extends 'chevChevalBundle:Cheval:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('cheval')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des chevaux
{% if is_granted('ROLE_GERANT') %}
<a class="btn btn-success pull-right" href="{{ path('cheval_new') }}">Ajouter</a>
{% endif %}</h2>

<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Nom</th>
	            <th>Sexe</th>
	            <th>Nourriture</th>
	            <th>Propriétaire</th>
	            <th>Centre</th>
	            <th>Date d'ajout</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('cheval_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.nom }}</td>
	            <td>{{ entity.sexe }}</td>
	            <td>{% if entity.nourriture %}{{ entity.nourriture.libelle }} {% else %}Pas de nourriture{% endif %} | {% if entity.nourriture %}{{ entity.quantite }} kg {% else %}Pas de quantité{% endif %} </td>
	            <td>{{ entity.proprietaire }}</td>
	            <td>{% if entity.centre %}{{ entity.centre.nom }} {% else %}Pas de centre{% endif %}</td>
	            <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif %}</td>
	            <td>
	                <a href="{{ path('cheval_show', { 'id': entity.id }) }}" class="btn">
	                	Voir
	                </a>
                {% if is_granted('ROLE_GERANT') %}
	    			<a href="{{ path('cheval_edit', { 'id': entity.id }) }}" class="btn btn-primary">
	    				Modifier
	    			</a>
    			{% endif %}
            	</td>
	        </tr>
	 	{% else %}
	 		<tr>
	 			<td colspan="8">
	 				Il n'y a aucun cheval existant.
	 			</td>
	 		</tr>
	    {% endfor %}
	    </tbody>
	</table>
{% endblock %}