{% extends 'chevChevalBundle:Cheval:layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
    <a href="{{ path('cheval_new') }}">Nouveau</a>
</li>
{% endblock %}
{% block body %}
<h2>Nouveau cheval</h2>
<div class="span6">
	<form action="{{ path('cheval_create') }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
		    {{ form_widget(form) }}
		    <div class="pagination-right">
		    	<a class="btn" href="{{ path('cheval') }}">Retour à la liste</a>
				<input class="btn btn-success" type="submit" value="Nouveau" >
		    </div>
		</fieldset>
	</form>
</div>
{% endblock %}