{% extends 'chevChevalBundle:Cheval:layout.html.twig' %}
{% block title %}Voir - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
     <a href="{{ path('cheval_show', {id: entity.id}) }}">Aperçu</a>
</li>
{% endblock %}
{% block body %}
<h2>Voir le cheval</h2>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
        	<th>Race</th>
        	<td>{{ entity.race.libelle }}</td>
        </tr>
        <tr>
        	<th>Centre</th>
        	<td>{{ entity.centre.nom }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('d/m/Y H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="form-menu float right">
	<li><a title="Retour à la liste" class="return-item" href="{{ path('cheval') }}">return</a></li>
    <li><a title="Modifier" class="modif-item" href="{{ path('cheval_edit', { 'id': entity.id }) }}">Modifier</a></li>
    <li>
		<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('cheval_delete', { 'id': entity.id }) }}" method="post">
        	{{ form_widget(delete_form) }}
        	<button type="submit" title="Supprimer" class="delete-item">+</button>
    	</form>
	</li>
</ul>
{% endblock %}