{% extends 's4aUserBundle:User:layout.html.twig' %}
{% form_theme edit_form 's4aUserBundle:Form:form.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('s4admin_user_edit', { 'id': entity.id }) }}">{{ 'user.edit.title'|trans([], 'backoffice') }}</a>
</li>
{% endblock %}
{% block body %}
<h2>{{ 'user.edit.title'|trans([], 'backoffice') }}</h2>
<div class="span8">
	<form action="{{ path('s4admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		<fieldset>
		   	{{ form_rest(edit_form) }}
			<input class="btn btn-success pull-right" type="submit" value="{{ 'user.edit.title'|trans([], 'backoffice') }}">
		</fieldset>
	</form>
	<div class="row-fluid">
		<div class="span6">
		<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('s4admin_user_delete', { 'id': entity.id }) }}" method="post">
	    	{{ form_widget(delete_form) }}
	    	<button type="submit" class="btn btn-danger">Supprimer</button>
		</form>
		</div>
		<div class="span6 pagination-right">
			<a href="{{ path('s4admin_user') }}" class="btn">Retour à la liste</a>
			<a href="{{ path('s4admin_user_show', { 'id': entity.id }) }}" class="btn btn-primary">Voir</a>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		var password = $('.form .formRow[rel="user_label_password"]');
		$('*', password).hide();
		$('.formRight', password).after('<a href="javascript:void(0)">{{ 'user.label.editPassword'|trans([], 'backoffice') }}</a>');
		$('a', password).bind('click', function(){
			$('*', password).fadeIn(1000);
			$(this).remove()
		});
	</script>
{% endblock %}
