{% extends 's4aUserBundle:User:layout.html.twig' %}
{% form_theme edit_form 's4aUserBundle:Form:form.html.twig' %}
{% block title %}{{ 'user.edit.title'|trans([], 'backoffice') }} - {{ parent() }}{% endblock %}
{% block subtitle %}{{ 'user.edit.subtitle'|trans([], 'backoffice') }}<br />{{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
 <li class="current">
      <a href="{{ path('s4admin_user_edit', { 'id': entity.id }) }}">{{ 'user.edit.title'|trans([], 'backoffice') }}</a>
 </li>
 {% endblock %}
{% block body %}
<ul class="form-menu">
	<li><a title="Retour à la liste" class="return-item" href="{{ path('s4admin_user') }}">return</a></li>
	<li><a title="Voir" class="show-item" href="{{ path('s4admin_user_show', { 'id': entity.id }) }}">show</a></li>
	<li>
		<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('s4admin_user_delete', { 'id': entity.id }) }}" method="post">
        	{{ form_widget(delete_form) }}
        	<button type="submit" title="Supprimer" class="delete-item">+</button>
    	</form>
	</li>
</ul>
<form class="form" action="{{ path('s4admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<fieldset>
        <h2>{{ 'user.edit.title'|trans([], 'backoffice') }}</h2>
	    {{ form_rest(edit_form) }}
		<input type="submit" class="float right" value="{{ 'user.edit.title'|trans([], 'backoffice') }}">
	</fieldset>
</form>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		var password = $('.form .formRow[rel="user_label_password"]');
		$('*', password).hide();
		$('.formRight', password).after('<a href="javascript:void(0)">{{ 'user.label.editPassword'|trans([], 'backoffice') }}</a>');
		$('a', password).bind('click', function(){
			$('*', password).fadeIn(1000);
			$(this).remove()
		});
	</script>
{% endblock %}
