{% extends 's4aUserBundle:User:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('s4admin_user') }}">{{ 'user.index.title'|trans([], 'backoffice') }}</a>
</li>
{% endblock %}
{% block body %}
<h2>{{ 'user.title'|trans([], 'backoffice') }}</h2>
<a class="btn btn-success pull-right" href="{{ path('s4admin_user_new') }}">Ajouter</a>
<table class="table table-striped">
    <thead>
        <tr>
        	<th>{{ 'user.label.id'|trans([], 'backoffice') }}</th>
            <th>{{ 'user.label.username'|trans([], 'backoffice') }}</th>
            <th>Nom Prenom</th>
            <th>{{ 'user.label.city'|trans([], 'backoffice') }}</th>
            <th>{{ 'user.label.email'|trans([], 'backoffice') }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
	    {% for entity in entities %}
        <tr>
        	<td>{{ entity.id }}</td>
        	<td><a href="{{ path('s4admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
        	<td>{{ entity.lastname }} {{ entity.firstname }}</td>
        	<td>{{ entity.city }}</td>
        	<td>{{ entity.email }}</td>
    		<td>
                <a href="{{ path('s4admin_user_show', { 'id': entity.id }) }}" class="btn">
                	Voir
                </a>
    			{% if is_granted('ROLE_ADMIN')%}
    			<a href="{{ path('s4admin_user_edit', { 'id': entity.id }) }}" class="btn btn-primary">
    				Modifier
    			</a>
    			{% endif %}
            </td>
        </tr>
	    {% else %}
    	<tr>
    		<td colspan="5">Aucun utilisateur existant</td>
    	</tr>
	    {% endfor %}
    </tbody>
</table>
{% if numberPages > 1 %}
    <div class="pagination">
			<ul>
				{% if currentPage > 1 %}
					<li class="prev"><a href="{{ path('s4admin_user', {page:1})}}">&lt;&lt;</a></li>
					<li class="prev"><a href="{{ path('s4admin_user', {page:(currentPage-1)})}}">&lt;</a></li>
				{% else %}
					<li class="prev">&lt;&lt;</li>
					<li class="prev">&lt;</li>
				{% endif %}

				{% if numberPages < 10 %}
					{% for i in range(1, numberPages) %}
						<li><a {% if i == currentPage %}class="active" {% endif %}href="{{ path('s4admin_user', {page:i}) }}">{{ i }}</a></li>
					{% endfor %}
				{% else %}
					{% if currentPage < 4 %}
						{% for i in range(1, 6) %}
							<li><a {% if i == currentPage %}class="active" {% endif %}href="{{ path('s4admin_user', {page:i}) }}">{{ i }}</a></li>
						{% endfor %}
						<li>...</li>
						<li><a href="{{ path('s4admin_user', {page:(numberPages-1)}) }}">{{ (numberPages-1) }}</a></li>
						<li><a href="{{ path('s4admin_user', {page:numberPages}) }}">{{ numberPages }}</a></li>
					{% elseif (numberPages-4) > currentPage and currentPage > 4 %}
						<li><a href="{{ path('s4admin_user', {page:1}) }}">1</a></li>
						<li><a href="{{ path('s4admin_user', {page:2}) }}">2</a></li>
						<li>...</li>
						{% for i in range(currentPage-1, currentPage+1) %}
							<li><a {% if i == currentPage %}class="active" {% endif %}href="{{ path('s4admin_user', {page:i}) }}">{{ i }}</a></li>
						{% endfor %}
						<li>...</li>
						<li><a href="{{ path('s4admin_user', {page:(numberPages-1)}) }}">{{ (numberPages-1) }}</a></li>
						<li><a href="{{ path('s4admin_user', {page:numberPages}) }}">{{ numberPages }}</a></li>
					{% else %}
						<li><a href="{{ path('s4admin_user', {page:1}) }}">1</a></li>
						<li><a href="{{ path('s4admin_user', {page:2}) }}">2</a></li>
						<li>...</li>
						{% for i in range(numberPages-4, numberPages) %}
							<li><a {% if i == currentPage %}class="active" {% endif %}href="{{ path('s4admin_user', {page:i}) }}">{{ i }}</a></li>
						{% endfor %}
					{% endif %}
				{% endif %}

				{% if currentPage != numberPages %}
					<li class="next"><a href="{{ path('s4admin_user', {page:(currentPage+1)})}}">&gt;</a></li>
					<li class="next"><a href="{{ path('s4admin_user', {page:numberPages})}}">&gt;&gt;</a></li>
				{% else %}
					<li class="next">&gt;</li>
					<li class="next">&gt;&gt;</li>
				{% endif %}
			</ul>
		</div>
		<div class="widgets">
			<div class="oneFour">
				<div class="widget">
					<form action="{{ path('s4admin_user') }}" method="post" class="form">
						<div class="title">
							<h6>{{ form_label(perPageForm.perpage) }}</h6>
						</div>
						<div class="formSubmit" style="float: right;">
							<input type="submit" value="Envoyer" class="redB">
						</div>
						<div class="formRight" style="margin-top: 15px; margin-left: 15px;">
		    				{{ form_widget(perPageForm.perpage) }}
							<span class="formNote">{{ form_errors(perPageForm.perpage) }}</span>
						</div>
						{{ form_rest(perPageForm) }}
		
						<div class="clear"></div>
					</form>
				</div>
			</div>
		</div>
{% endif %}
{% endblock %}