{% extends app.request.isXmlHttpRequest ?'::ajax_frontoffice.html.twig':'::frontoffice.html.twig' %}
{% block titre %}
<h5>
	{{ 'user.title'|trans([], 'backoffice') }}
</h5>
{% endblock %}
{% block subtitle %}{{ 'user.subtitle'|trans([], 'backoffice') }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
 <li>
      <a href="{{ path('s4admin_user') }}">{{ 'user.title'|trans([], 'backoffice') }}</a>
 </li>
{% endblock %}