{% extends 's4aUserBundle:User:layout.html.twig' %}
{% form_theme form 's4aUserBundle:Form:form.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
    <a href="{{ path('s4admin_user_new') }}">{{ 'user.new.title'|trans([], 'backoffice') }}</a>
</li>
{% endblock %}
{% block body %}
<h2>{{ 'user.new.title'|trans([], 'backoffice') }}</h2>
<div class="span8">
	<form action="{{ path('s4admin_user_create') }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
		    {{ form_widget(form) }}
		    <div class="pagination-right">
		    	<a class="btn" href="{{ path('s4admin_user') }}">Retour à la liste</a>
				<input type="submit" value="Nouveau" class="btn btn-success">
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}