{% extends 's4aUserBundle:User:layout.html.twig' %}
{% form_theme form 's4aUserBundle:Form:form.html.twig' %}
{% block title %}{{ 'user.new.title'|trans([], 'backoffice') }} - {{ parent() }}{% endblock %}
{% block subtitle %}{{ 'user.new.subtitle'|trans([], 'backoffice') }}<br />{{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li class="current">
     <a href="{{ path('s4admin_user_new') }}">{{ 'user.new.title'|trans([], 'backoffice') }}</a>
</li>
{% endblock %}
{% block body %}
<form class="form" action="{{ path('s4admin_user_create') }}" method="post" {{ form_enctype(form) }}>
	<fieldset>
        <h2>{{ 'user.new.title'|trans([], 'backoffice') }}</h2>
       	{{ form_rest(form) }}
       	<ul class="form-menu float right">
			<li><a title="{{ 'user.nav.backtolist'|trans([], 'backoffice') }}" href="{{ path('s4admin_user') }}" class="return-item">return</a></li>
			<li><button type="submit">Nouveau</button></li>
		</ul>
	</fieldset>
</form>

{% endblock %}