{% extends 's4aUserBundle:User:layout.html.twig' %}
{% form_theme form 's4aUserBundle:Form:form.html.twig' %}
{% block title %}{{ 'user.new.title'|trans([], 'backoffice') }} - {{ parent() }}{% endblock %}
{% block subtitle %}{{ 'user.new.subtitle'|trans([], 'backoffice') }}<br />{{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li class="current">
     <a href="{{ path('s4admin_user_new') }}">{{ 'user.new.title'|trans([], 'backoffice') }}</a>
</li>
{% endblock %}
{% block body %}

<div class="container">
	<div class="title">
		<img class="titleIcon" alt="" src="{{ asset('/images/list.png') }}">
		<h6>{{ 'user.new.title'|trans([], 'backoffice') }}</h6>
	</div>
	<form action="{{ path('s4admin_user_create') }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
		    {{ form_widget(form) }}
		    <div class="form-bouton">
		    	<a class="bouton basic" href="{{ path('s4admin_user') }}">Retour à la liste</a>
				<input type="submit" value="Nouveau" class="bouton greenB">
			</div>
		</fieldset>
	</form>
</div>

{% endblock %}