{% spaceless %}
<ul class="nav nav-list">
    <li><a href="{{ path('front_homepage') }}">Accueil</a></li>
    {% if error is not defined %}
	    <li class="nav-header">Centre</li>
	    <li><a href="{{ path('centre') }}">Centre</a></li>
	    {% if is_granted('ROLE_GERANT') %}
	    <li><a href="{{ path('pature') }}">Pâture</a></li>
		<li>
			<a href="{{ path('centre_box')}}">Box</a>
		</li>
		{% endif %}
	    {% if is_granted('ROLE_USER') %}
	    <li class="nav-header">Cheval</li>
	    <li><a href="{{ path('cheval')}}">Cheval</a></li>
	    <li><a href="{{ path('equipement')}}">Equipement</a></li>
		    {% if is_granted('ROLE_GERANT') %}
		    <li><a href="{{ path('cheval_nourriture')}}">Nourriture</a></li>
		    {% endif %}
	   	{% endif %}
	    {% if is_granted('ROLE_USER') %}
        <li class="nav-header">Facture</li>
        <li><a href="{{ path('facture') }}">Facture</a></li>
	        {% if is_granted('ROLE_GERANT') %}
	        <li><a href="{{ path('typelogement') }}">Type de logement</a></li>
	        <li><a href="{{ path('supplement') }}">Supplément</a></li>
	        <li><a href="{{ path('paiement') }}">Paiement</a></li>
		        {% if is_granted('ROLE_ADMIN') %}
		        <ul>
		            <li><a href="{{ path('paiement_type') }}">Types de paiement</a></li>
		        </ul>
		        {% endif %}
	        {% endif %}
	    {% endif %}
	    {% if is_granted('ROLE_GERANT') %}
	    <li class="nav-header">Administration</li>
	    <li><a href="{{ path('s4admin_user') }}">Utilisateur</a></li>
	    {% endif %}
    {% endif %}
</ul>
{% if not is_granted('ROLE_USER') %}
	<li class="nav-header">Vous pouvez d'ors et déjà consulter la liste des centres inscrits</li>
{% endif %}
{% endspaceless %}
