{% extends 'chevPensionBundle:Supplement:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('supplement')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des suppléments</h2>
<a class="btn btn-success pull-right" href="{{ path('supplement_new') }}">Ajouter</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Facture</th>
            <th>Libelle</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('supplement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><a href="{{ path('facture_show', { 'id': entity.facture }) }}">Facture {{ entity.facture }}</a></td>
            <td>{{ entity.libelle }}</td>
            <td>{{ entity.prix }} €</td>
            <td>
                <a href="{{ path('supplement_show', { 'id': entity.id }) }}" class="btn">
                	Voir
                </a>
    			<a href="{{ path('supplement_edit', { 'id': entity.id }) }}" class="btn btn-primary">
    				Modifier
    			</a>
            </td>
        </tr>
 	{% else %}
 		<tr>
 			<td colspan="5">
 				Il n'y a aucun supplément existant.
 			</td>
 		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
