{% extends app.request.isXmlHttpRequest ?'::ajax_frontoffice.html.twig':'::frontoffice.html.twig' %}
{% block body %}

{% if is_granted ('ROLE_PREVIOUS_USER') %}
	<p>Bienvenue sur la page d'accueil du site de gestion Equestre Caballio.</p>
	<p>Ce site permet à nos clients propriétaires d'un ou plusieurs centres équestres de les administrer</p>
	<p>Il permet en effet de centraliser les informations concernant un centre. Grâce à lui il est possible de gérer le stock matériel et annimal
		d'un centre, ce qui </p>
{% endif %}
		
{% if is_granted ('ROLE_PREVIOUS_GERANT') %}
	<p>Bienvenue {{ app.user.username }} sur la page d'accueil du site de gestion Equestre Caballio.</p>
	<p>En tant que membre d'un centre équestre, vous pouvez voir les informations de vos <a href="{{ path('cheval')}}">chevaux</a>
	ou de vos <a href="{{ path('facture')}}">factures</a>.</p>
	<br /><p>Bonne utilisation, l'équipe PITP.</p>
{% endif %}

{% if is_granted ('ROLE_GERANT') %}
	<p>Bienvenue {{ app.user.username }} sur la page d'accueil du site de gestion Equestre Caballio.</p>
	<p>Içi vous pourrez administrer votre entreprise grâce aux outils intégrés.</p>
	<p>Vous pouvez gérer:</p>
	   <ul class="ul-accueil">
	      <li><a href="{{ path('centre')}}">Votre/Vos centre(s)</a></li>
	      <li><a href="{{ path('cheval')}}">Vos chevaux</a></li>
	      <li><a href="{{ path('facture')}}">Vos factures</a></li>
	      <li>Et bien d'autres choses encore...</li>
	   </ul>
	<br /><p>Bonne utilisation, l'équipe PITP.</p>
{% endif %}
{% endblock %}