{% extends 'chevPensionBundle:Paiement:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('paiement')}}">Index</a>
</li>
{% endblock %}
{% block body %}

<div class="container-control">
	<a class="bouton greenB" href="{{ path('paiement_new') }}">Ajouter</a>
</div>

<div class="container">
	<div class="title">
		<img class="titleIcon" alt="" src="{{ asset('/images/frames.png') }}">
		<h6>Liste des paiements</h6>
	</div>
	<table class="record_properties">
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Date de paiement</th>
	            <th>Date d'encaissement</th>
	            <th>Montant</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td class="id-td"><a href="{{ path('paiement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{% if entity.datePaiement %}{{ entity.datePaiement|date('d/m/Y H:i:s') }}{% endif %}</td>
	            <td>{% if entity.dateEncaissement %}{{ entity.dateEncaissement|date('d/m/Y H:i:s') }}{% endif %}</td>
	            <td>{{ entity.montant }} €</td>
	            <td>
	                <a href="{{ path('paiement_show', { 'id': entity.id }) }}" class="smallButton" title="Voir">
	                	<img src="{{ asset('/images/bouton/magnify.png') }}" />
	                </a>
	    			<a href="{{ path('paiement_edit', { 'id': entity.id }) }}" class="smallButton" title="Modifier">
	    				<img src="{{ asset('/images/bouton/pencil.png') }}" />
	    			</a>
	            </td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
</div>
{% endblock %}