{% extends 'chevPensionBundle:Paiement:layout.html.twig' %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('paiement')}}">Index</a>
</li>
{% endblock %}
{% block body %}
<h2>Liste des paiements</h2>
<a class="btn btn-success pull-right" href="{{ path('paiement_new') }}">Ajouter</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Facture</th>
            <th>Montant</th>
            <th>Type de paiement</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('paiement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><a href="{{ path('facture_show', { 'id': entity.facture }) }}">Facture {{ entity.facture }}</a></td>
            <td>{{ entity.montant }} €</td>
            <td>{{ entity.typePaiement }}</td>
            <td>
            	<p>Date du paiement : {% if entity.datePaiement %}{{ entity.datePaiement|date('d/m/Y') }}{% endif %}</p>
				<p>Date d'encaissement : {% if entity.dateEncaissement %}{{ entity.dateEncaissement|date('d/m/Y') }}{% endif %}</p>
			</td>
            <td>
                <a href="{{ path('paiement_show', { 'id': entity.id }) }}" class="btn">
                	Voir
                </a>
    			<a href="{{ path('paiement_edit', { 'id': entity.id }) }}" class="btn btn-primary">
    				Modifier
    			</a>
            </td>
        </tr>
 	{% else %}
 		<tr>
 			<td colspan="6">
 				Il n'y a aucun paiement existant.
 			</td>
 		</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}