{% extends 'chevPensionBundle:Paiement:layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li class="current">
     <a href="{{ path('paiement_new') }}">Nouveau</a>
</li>
{% endblock %}
{% block body %}
<form action="{{ path('paiement_create') }}" method="post" {{ form_enctype(form) }}>
	<fieldset>
        <h2>Nouveau paiement</h2>
       {{ form_rest(form) }}
		<input class="float right" type="submit" value="Nouveau">
    	<a title="Retourner à la liste" href="{{ path('paiement_type') }}">
    		<img class="float right" src="{{ asset('images/annuler_32x32.png') }}" alt="Retourner à la liste">
    	</a>
	</fieldset>
</form>
{% endblock %}