{% extends 'chevPensionBundle:Paiement:layout.html.twig' %}
{% block title %}Voir - {{ parent() }}{% endblock %}
{% block breadcrumbs %}
{{ parent() }}
<li>
	<a href="{{ path('paiement_show', {id: entity.id}) }}">Aperçu</a>
</li>
{% endblock %}
{% block body %}
<h2>Voir le paiement</h2>
<div class="span6">
	<table class="table table-bordered">
	    <tbody>
	        <tr>
	            <th>Id</th>
	            <td>{{ entity.id }}</td>
	        </tr>
	        <tr>
	        	<th>Facture</th>
	        	<td><a href="{{ path('facture_show', { 'id': entity.facture }) }}">Facture {{ entity.facture }}</a></td>
	        </tr>
	        <tr>
	            <th>Montant</th>
	            <td>{{ entity.montant }} €</td>
	        </tr>
	        <tr>
	        	<th>Type de paiement</th>
	        	<td>{{ entity.typePaiement}}</td>
	        </tr>
	        <tr>
	            <th>Date paiement</th>
	            <td>{{ entity.datePaiement|date('d/m/Y H:i:s') }}</td>
	        </tr>
	        <tr>
	            <th>Date encaissement</th>
	            <td>{{ entity.dateEncaissement|date('d/m/Y H:i:s') }}</td>
	        </tr>
	    </tbody>
	</table>
	<div class="row-fluid">
		<div class="span6">
			<form onsubmit="return confirm('{{ 'user.delete.confirm'|trans([], 'backoffice') }}')" action="{{ path('paiement_delete', { 'id': entity.id }) }}" method="post">
		        {{ form_widget(delete_form) }}
		        <button type="submit" class="btn btn-danger">Supprimer</button>
		    </form>
		</div>
		<div class="span6 pagination-right">
			<a href="{{ path('paiement') }}" class="btn">Retour à la liste</a>
			<a href="{{ path('paiement_edit', { 'id': entity.id }) }}" class="btn btn-primary">Editer</a>
		</div>
	</div>
</div>
{% endblock %}